<div class="row text-center">
<h3>All Comments</h3>

<p><%= link_to '<< Back to Post', post_path(@post) %></p>

<% if @comments.blank? %>

No Comments

<% else %>

<% @comments.each do |comment| %>

<p><strong><%= link_to comment.user.name, comment.user %> said:</strong>&nbsp;<%= comment.body %></p>

<% if user_signed_in? %>
<% if @post.user == current_user || current_user.admin? %>

<p><%= link_to "delete", [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"} %></p>

<% end %>
<% end %>

<% end %>

<div class="digg_pagination">
	<%= will_paginate @comments %>
</div>

<% end %>

<p><%= render 'comments/form' %></p>

</div>
