<div class="row text-center">
<h3>Latest Posts</h3>

<% @posts.each do |post| %>

    <div class="box">

        <p>Posted by <strong><%= link_to post.user.name, post.user %></strong></p>

        <p><%= link_to (image_tag post.image.url(:medium)), post %></p>

        <p><em>"<%= post.content %>"</em></p>

        <p><%= post.score %>&nbsp;Likes</p>

        <p><%= link_to "#{post.comments.count} Comments >>", post_path(post) %></p>

        <% if user_signed_in? %>
        <% if (post.user == current_user) || (current_user.admin?) %>
        <span>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-link" %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></span></p>
        <% end %>
        <% end %>

        </div>
        <p></p>
    <% end %>

</div>
