<div class="row text-center">

<p>
	<strong>Posted by &nbsp;<%= link_to @post.user.name, @post.user %></strong>
</p>

<p>
	<%= image_tag @post.image.url(:large, false) %>
</p>

<p>
  <%= @post.content %>
</p>

<p>
	<span class="score"><%= @post.score %></span>&nbsp;Likes
</p>

<div class="vote">

<% if user_signed_in? %>

<%= render 'vote' %>

<% else %>

	<%= link_to "like", new_user_session_path, notice: "Please log in to vote." %>

<% end %>

</div>

<% if user_signed_in? %>
<% if @post.user == current_user || current_user.admin? %>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-link" %> |
<%= link_to 'Delete', @post, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-link" %>

<% end %>
<% end %>

<p>

	<h3>Comments:</h3>

<%= render 'comments/comments' %>

</p>

<p>

<%= render 'comments/form' %>

</p>

</div>

